*{
    margin : 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    
}
/* banner style */
.banner{
 
    background-image: url(../images/banner/banner1.png);
    width: 1680px;
    height: 800px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover;
    text-align: right;
  
   
}
.banner-description{
    font-size: 16px;
    color: #3d3b3b;
    width: 400px;
    margin: 0 20px 0 915px;
    padding: 20px 20px 50px 50px;
    font-family: 'Poppins', sans-serif;
    
}
.banner-title{
    color: rgb(19, 15, 15);
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    padding: 300px 200px 15px 0;
    margin: 0 110px 0 982px;
   
     

}
.banner-primary{
    font-family: 'Inter', sans-serif;
    padding: 20px;
    height: 64px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: orangered;
    border: 0;
    margin: 0 315px 0 1000px;
    text-align: center;

}
/*main section*/
main{
   
    left: 206px;
    top: 939px;

}
/* previous year styles*/
.year{
  
   display: flex;
   gap: 25px;
}
.section-title{
text-align: center;
width: 288px;
height: 94px;
left: 862px;
top: 1178px;
}
.section-description{

width: 416px;
height: 5px;
padding-bottom: 5px;
margin-bottom: 80px;
left: 862px;


}
div{
    display: block;
}


.skills-container{
    display: flex;
    gap:24px;
}
.my-skills{
    margin-top: 100px;
    
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding:30px;
}
.sk-title{
    text-align: center;
    padding-bottom: 20px;

}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}
/*gradient style*/
.gradient{
    
}
    
/* my plans style */
.my-plans{
    margin-top: 130px;
}
.plan-container{
    display: flex;
    gap: 100px;
}
.plan{
    padding: 50px;
}
.plan-title{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    
}
.plan-description{
    color:#757575
}
/* subscribe style*/
.subscribe-me .subscribe-title{
    text-align: left;
}
.subscribe-me{
    display: flex;
    gap: 100px;
    background: #151414;
    color: #FFFFFF;
    padding: 130px 130px;
}
.subscribe-title{
   
}
.btn-primary{
    
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #F15B22;
}
.subscribe-me input{
    margin-bottom: 25px;
}